

<style>
.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.carousel-caption{
    background-color: rgba(51, 46, 46, 0.7);
    color: #fff;
    font-family: 'Crimson Text', serif;
    z-index: 0;
    padding: 20px;
}


.carousel-title{
    color: #fff;
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
    margin: 0em 0 0.1em;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

.carousel-date{
    margin: 0 0 0.1em;
}

.carousel-text{
    font-family: 'Crimson Text', serif;
    font-size: 0.9rem;
    margin: 0.5em 0 0.1em;
}

<!-- i[class^="fa"]:before {
	display: inline-block;
	text-decoration: none;
} -->
</style>


{% assign featured-posts = site.posts | where: "featured",  true %}


<div id="carouselFeaturedPosts" class="carousel slide" data-ride="carousel" data-interval="5500">
    <ol class="carousel-indicators">
        {% for fp in featured-posts %}
            {% assign loopindex_minus_1 = forloop.index | minus: 1 %}
            {% if forloop.index == 1%}
                <li data-target="#carouselFeaturedPosts" data-slide-to="0" class="active"></li>
            {% else %}
                <li data-target="#carouselFeaturedPosts" data-slide-to="{{loopindex_minus_1}}"></li>
            {% endif %}
            
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for fp in featured-posts %}
        {% assign loopindex_minus_1 = forloop.index | minus: 1 %}
            {% if forloop.index == 1 %}
                <div class="carousel-item active">
                    <a href="{{ fp.url | absolute_url }}"><img class="d-block w-100" src="{{featured-posts[0].featured_image_thumbnail}}" alt="{{featured-posts[0].title}}"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-title">
                            {{featured-posts[0].title}}
                        </div>
                        <div class="carousel-date">
                            {{fp.date | date: "%B %-d, %Y"}}
                        </div>
                        <div class="carousel-text">
                            {{featured-posts[0].excerpt}}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="carousel-item">
                    <a href="{{ fp.url | absolute_url }}"><img class="d-block w-100" src="{{featured-posts[loopindex_minus_1].featured_image_thumbnail}}" alt="{{featured-posts[loopindex_minus_1].title}}"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-title">
                            {{featured-posts[loopindex_minus_1].title}}
                        </div>
                        <div class="carousel-date">
                            {{fp.date | date: "%B %-d, %Y"}}
                        </div>
                        <div class="carousel-text">
                            {{featured-posts[loopindex_minus_1].excerpt}}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselFeaturedPosts" role="button" data-slide="prev">
        <i class="fa-solid fa-arrow-left fa-2x"  style="color:rgba(51, 46, 46, 0.7)" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>

    </a>
    <a class="carousel-control-next" href="#carouselFeaturedPosts" role="button" data-slide="next">
        <i class="fa-solid fa-arrow-right fa-2x"  style="color:rgba(51, 46, 46, 0.7)" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
    </a>
</div>
